#root{
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: start;
}

.layout{
  display: flex;
  flex-direction: column;
  height: 130vh;
}

.main{
  display: flex;
  flex: 1;
}

/*Style header*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1f2e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 0 2rem;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 5rem; 
}

.main-nav{
  display: flex;
  gap: 24px;
  vertical-align: top;
}

.logout-btn:hover{
  background-color: #f3f4f6;
  color:  #111827;
}

.main-nav a{
  color:  #374151;
  text-decoration: none;
  font-weight: 500;
  padding:8px 0;
  position: relative;
  transition: color 0.2s;
}

.logo{
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  color: #758ffa;
}

.buttonHeader{
  background-color: transparent;
  padding:4px 12px;
  color:#f0f0f0
}

.buttonHeader:hover{
  background-color: #545454;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/*Style sidebar*/
.sidebar{
  float: left;
  width: 250px;
  background-color: #292940;
  padding: 1rem;
  overflow-y: auto;
  width: 240px;
  border-right: 1px solid #e5e7eb;
  position: sticky;
  top: 64px;
  left: 0;
}

.sidebar-nav .nav-group{
  margin-bottom: 2rem;
}

.nav-title{
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #aaa;
  text-transform: uppercase;
}

.nav-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard{
  flex: 1;
  padding: 2rem;
  background-color: #242424;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
