#root {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: start;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 130vh;
}

.main {
  display: flex;
  flex: 1;
}

/* ---------------- HEADER ---------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bbaaf7; /* Nuevo morado pastel */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
  padding: 0 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 5rem;
}

.main-nav {
  display: flex;
  gap: 24px;
}

.main-nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 0;
  position: relative;
  transition: color 0.2s;
}

.logo {
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  color: #6c63ff;
}

/* ---------------- BOTONES HEADER ---------------- */

.buttonHeader,
.logout-btn {
  background-color: #bbaaf7;
  padding: 6px 14px;
  color: #222;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttonHeader:hover,
.logout-btn:hover {
  background-color: #a897ec; /* Morado un poco más fuerte para hover */
}

/* ---------------- SIDEBAR ---------------- */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.sidebar {
  width: 240px;
  background-color: #bbaaf7; /* Mismo morado que el header */
  padding: 1rem;
  margin-left: 0;
  position: sticky;
  top: 64px;
  left: 0;
  border: none;
}

/* Pegarlo bien al borde izquierdo eliminando bordes y márgenes */
body {
  margin: 0;
}

.sidebar-nav .nav-group {
  margin-bottom: 2rem;
}

.nav-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #555;
  text-transform: uppercase;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: #333;
  background-color: #bbaaf7;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 0;
}

.nav-item:hover {
  background-color: #a897ec;
}

/* ---------------- DASHBOARD ---------------- */

.dashboard {
  flex: 1;
  padding: 2rem;
  background-color: #e3f6f8; /* Celeste pastel */
  color: #222;
  border-left: 1px solid #e1d8f3;
}

