:root {
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #dff0fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #dff0fa;
}

a {
  font-weight: 500;
  color: #5a75f2;
  text-decoration: inherit;
}

a:hover {
  color: #3d56d9;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

[data-theme="dark"] {
  background-color: #1e1e2e;
  color: #ddd;
}
